<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <!-- <a class="navbar-brand" href="#!"><h1>Cookery</h1></a> -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent"><br>
            <!-- <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4"><br>
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!"><h3>About</h3></a></li>
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!"><h3>Dinner</h3></a></li>
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!"><h3>Lunch</h3></a></li>
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!"><h3>BrakeFast</h3></a></li>
            
              <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><h3>Variety</h3></a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">Select</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#!">South Indian</a></li>
                        <li><a class="dropdown-item" href="#!">North Indian</a></li>
                    </ul>
                </li>
            </ul> -->
            
            <!-- <section id="product" style="margin-top: 50px;">
                <div class="products">
                        <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search Products Here" aria-label="Search" id="myinput">
                        <button class="btn btn-outline-dark" type="submit">Search</button>
                         </form>
                    <div class="container mb-5">
                    <h3 class="text-danger mt-5 text-center" id="para" style="display: none;">Not Found </h3>
                    <div class="row mt-3" id="card">
                    </div>
                  </div></div>
            </section> -->

          
                  
<!-- 
            <form class="d-flex" role="search">
                <input class="form-control me-2" #search type="search" placeholder="Search Products Here" aria-label="Search" id="myinput">
                <button class="btn btn-outline-dark" (click)="searching(search)" type="submit">Search</button>
            </form> -->





        </div>
    </div>
</nav>
  <!-- Header-->
  <header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Aju's Restaurent</h1>
            <p class="lead fw-normal text-white-50 mb-0">There is no love sincerer than the love of food.”</p>
        </div>
    </div>
</header>